<ion-header>

  <ion-row style="height: 100%;">

    <ion-col col-6 [style.background]="vTeamColor">
      <ion-row>
        <ion-col col-4>
          <img src="http://cdn.nba.net/assets/logos/teams/secondary/web/{{vTeam.tricode}}.svg">
        </ion-col>

        <ion-col col-8 style="text-align: left;padding: 0;" *ngIf="juegoDetalle.juego.statusNum == 1">
          <span class="detalle-titulo">{{vTeam.nickname}}</span>
          <span class="detalle-title-perdida-ganada-left">({{juegoDetalle.juego.vTeam.win}} - {{juegoDetalle.juego.vTeam.loss}})</span>
        </ion-col>

        <ion-col col-6 style="text-align: left;padding: 0;" *ngIf="!(juegoDetalle.juego.statusNum == 1)">
          <span class="detalle-titulo">{{vTeam.nickname}}</span>
          <span class="detalle-title-perdida-ganada-left">({{juegoDetalle.juego.vTeam.win}} - {{juegoDetalle.juego.vTeam.loss}})</span>
        </ion-col>
        <ion-col col-2 style="text-align: left;padding: 0;" *ngIf="!(juegoDetalle.juego.statusNum == 1)">
          <span class="detalle-titulo">{{juegoDetalle.juego.vTeam.score}}</span>
        </ion-col>

      </ion-row>
    </ion-col>

    <ion-col col-6 [style.background]="hTeamColor">
      <ion-row>

        <ion-col col-8 style="text-align: right;padding: 0;" *ngIf="juegoDetalle.juego.statusNum == 1">
              <span class="detalle-titulo">{{hTeam.nickname}}</span>
              <span class="detalle-title-perdida-ganada-rigth">({{juegoDetalle.juego.hTeam.win}} - {{juegoDetalle.juego.hTeam.loss}})</span>
        </ion-col>

        <ion-col col-2 style="text-align: right;padding: 0;" *ngIf="!(juegoDetalle.juego.statusNum == 1)">
          <span class="detalle-titulo">{{juegoDetalle.juego.hTeam.score}}</span>
        </ion-col>
        <ion-col col-6 style="text-align: right;padding: 0;" *ngIf="!(juegoDetalle.juego.statusNum == 1)">
          <span class="detalle-titulo">{{hTeam.nickname}}</span>
          <span class="detalle-title-perdida-ganada-rigth">({{juegoDetalle.juego.hTeam.win}} - {{juegoDetalle.juego.hTeam.loss}})</span>
        </ion-col>

        <ion-col col-4>
          <img src="http://cdn.nba.net/assets/logos/teams/secondary/web/{{hTeam.tricode}}.svg">
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>

  <div class="detalle-center-top">
    <!-- Sin Jugar -->
    <span class="detalle-title-tags" *ngIf="juegoDetalle.juego.statusNum == 1 && !(juegoDetalle.juego.gameDuration.hours == '0' && juegoDetalle.juego.gameDuration.minutes == '00')">
      {{juegoDetalle.juego.startTimeEastern}}
  </span>

    <!-- Live -->
    <span class="detalle-title-tags" *ngIf="juegoDetalle.juego.statusNum == 2 || (juegoDetalle.juego.gameDuration.hours == '0' && juegoDetalle.juego.gameDuration.minutes == '00')">

      <span *ngIf="juegoDetalle.juego.gameDuration.hours == '0' && juegoDetalle.juego.gameDuration.minutes == '00'">
        Entrenamiento
      </span>
      <span *ngIf="juegoDetalle.juego.period.isHalftime">
        Medio Tiempo
      </span>
      <span *ngIf="!juegoDetalle.juego.period.isHalftime && !(juegoDetalle.juego.gameDuration.hours == '0' && juegoDetalle.juego.gameDuration.minutes == '00')">
        C{{juegoDetalle.juego.period.current}}
      </span>

    </span>

    <!-- Termino -->
    <span class="detalle-title-tags" *ngIf="juegoDetalle.juego.statusNum == 3">
      Finalizo
    </span>
  </div>

  <div class="detalle-center-bottom" *ngIf="juegoDetalle.juego.statusNum != 3 && !(juegoDetalle.juego.gameDuration.hours == '0' && juegoDetalle.juego.gameDuration.minutes == '00')">
    <!-- Sin Jugar -->
    <span class="detalle-title-tags" *ngIf="juegoDetalle.juego.statusNum == 1">
      {{juegoDetalle.juego.startDateEastern | date: 'COMPACTO to HUMAN'}}
    </span>

    <!-- Live -->
    <div *ngIf="!juegoDetalle.juego.period.isHalftime && !(juegoDetalle.juego.gameDuration.hours == '0' && juegoDetalle.juego.gameDuration.minutes == '00')">
      <span class="detalle-title-tags" *ngIf="juegoDetalle.juego.statusNum == 2 || (juegoDetalle.juego.gameDuration.hours == '0' && juegoDetalle.juego.gameDuration.minutes == '00')">
        {{juegoDetalle.juego.clock}}
      </span>
    </div>

  </div>

  <button ion-button round icon-only (click)="back()"
          class="back-transparent" color="ball-icon">
    <ion-icon name="ios-arrow-back"></ion-icon>
  </button>

</ion-header>


<ion-content padding>

  <!-- Datos Basicos -->
  <ion-list>
    <div ion-item>
      <ion-row>
        <ion-col col-3 style="font-size: small;">
          Fecha
        </ion-col>
        <ion-col col-9 style="font-size: small;color: gray;">
          {{juegoDetalle.juego.startDateEastern | date: 'COMPACTO to HUMAN'}} {{juegoDetalle.juego.startTimeEastern}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 style="font-size: small;">
          Ciudad
        </ion-col>
        <ion-col col-9 style="font-size: small;color: gray;">
          {{juegoDetalle.juego.arena.city}}, {{juegoDetalle.juego.arena.country}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 style="font-size: small;">
          Estadio
        </ion-col>
        <ion-col col-9 style="font-size: small;color: gray;">
          {{juegoDetalle.juego.arena.name}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="juegoDetalle.juego.statusNum == 3">
        <ion-col col-3 style="font-size: small;">
          Audiencia
        </ion-col>
        <ion-col col-9 style="font-size: small;color: gray;">
          {{juegoDetalle.juego.attendance | numero}} personas
        </ion-col>
      </ion-row>

      <ion-row *ngIf="juegoDetalle.juego.statusNum != 3">

        <ion-list>
          <ion-list-header style="padding: 0px;margin-bottom: 0px;">Ver en</ion-list-header>

          <!-- Natcional -->
          <div *ngIf="juegoDetalle.juego.watch.broadcast.broadcasters.national.length > 0" style="text-align: center;">
            <div ion-item *ngFor="let tv of juegoDetalle.juego.watch.broadcast.broadcasters.national" style="padding: 0px;font-size: small;">
              {{tv.longName}}
            </div>
          </div>

          <!-- Canadiense -->
          <div *ngIf="juegoDetalle.juego.watch.broadcast.broadcasters.canadian.length > 0" style="text-align: center;">
            <div ion-item *ngFor="let tv of juegoDetalle.juego.watch.broadcast.broadcasters.canadian" style="padding: 0px;font-size: small;">
              {{tv.longName}}
            </div>
          </div>

          <!-- VTeam -->
          <div *ngIf="juegoDetalle.juego.watch.broadcast.broadcasters.vTeam.length > 0" style="text-align: center;">
            <div ion-item *ngFor="let tv of juegoDetalle.juego.watch.broadcast.broadcasters.vTeam" style="padding: 0px;font-size: small;">
              {{tv.longName}}
            </div>
          </div>

          <!-- HTeam -->
          <div *ngIf="juegoDetalle.juego.watch.broadcast.broadcasters.hTeam.length > 0" style="text-align: center;">
            <div ion-item *ngFor="let tv of juegoDetalle.juego.watch.broadcast.broadcasters.hTeam" style="padding: 0px;font-size: small;">
              {{tv.longName}}
            </div>
          </div>

        </ion-list>
      </ion-row>

    </div>
  </ion-list>

  <!-- Marcador -->
  <ion-list *ngIf="juegoDetalle.juego.statusNum != 1">
    <ion-list-header>
      Marcador
    </ion-list-header>
    <div ion-item *ngFor="let s of score">
      <ion-row>
        <ion-col col-2 style="text-align: left;font-weight: bold;">
          {{s.nombre}}
        </ion-col>
        <ion-col col-4 style="text-align: center;border-right: 1px solid lightgray;">
          {{s.vTeam}}
        </ion-col>
        <ion-col col-4 style="text-align: center;">
          {{s.hTeam}}
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </div>
  </ion-list>

  <!-- Mejores de cada equipo -->
  <ion-list *ngIf="juegoDetalle.juego.statusNum != 1">
    <ion-list-header>
      Mejores de cada equipo
    </ion-list-header>

    <!-- Puntos -->
    <div ion-item>
      <ion-row>

        <ion-col col-6 style="border-right: 1px solid lightgray;">

          <ion-row>

            <ion-col col-4>
              <ion-avatar item-start>
                <img *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.points.players.length == 1"
                     src="https://neulionmdnyc-a.akamaihd.net/nba/media/img/players/head/132x132/{{juegoDetalle.boxScore.stats.vTeam.leaders.points.players[0].personId}}.png">

                <img *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.points.players.length > 1"
                     src="https://neulionms-a.akamaihd.net/nba/player/v1/nba/site_4/images/multipleplayer.png">
              </ion-avatar>
            </ion-col>

            <ion-col col-8 style="text-align: center;">
              <span class="pointers">
                {{juegoDetalle.boxScore.stats.vTeam.leaders.points.value}}
              </span>
            </ion-col>

          </ion-row>

          <ion-row>
              <span *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.points.players.length == 1" class="x-small">
                {{buscarNombreJugador(juegoDetalle.boxScore.stats.vTeam.leaders.points.players[0].personId)}}
              </span>
              <span *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.points.players.length > 1" class="x-small">
                Varios Jugadores
              </span>
          </ion-row>

        </ion-col>

        <ion-col col-6>

          <ion-row>

            <ion-col col-8 style="text-align: center;">
              <span class="pointers">
                {{juegoDetalle.boxScore.stats.hTeam.leaders.points.value}}
              </span>
            </ion-col>

            <ion-col col-4>
              <ion-avatar item-start>
                <img *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.points.players.length == 1"
                     src="https://neulionmdnyc-a.akamaihd.net/nba/media/img/players/head/132x132/{{juegoDetalle.boxScore.stats.hTeam.leaders.points.players[0].personId}}.png">

                <img *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.points.players.length > 1"
                     src="https://neulionms-a.akamaihd.net/nba/player/v1/nba/site_4/images/multipleplayer.png">
              </ion-avatar>
            </ion-col>

          </ion-row>

          <ion-row style="text-align: right;">
              <span *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.points.players.length == 1" class="pointers-player-rigth">
                {{buscarNombreJugador(juegoDetalle.boxScore.stats.hTeam.leaders.points.players[0].personId)}}
              </span>
            <span *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.points.players.length > 1" class="pointers-player-rigth">
                Varios Jugadores
              </span>
          </ion-row>

        </ion-col>

        <div class="detalle-center-top">
          <span class="live">Puntos</span>
        </div>

      </ion-row>
    </div>

    <!-- Rebotes -->
    <div ion-item>
      <ion-row>

        <ion-col col-6 style="border-right: 1px solid lightgray;">

          <ion-row>

            <ion-col col-4>
              <ion-avatar item-start>
                <img *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.rebounds.players.length == 1"
                     src="https://neulionmdnyc-a.akamaihd.net/nba/media/img/players/head/132x132/{{juegoDetalle.boxScore.stats.vTeam.leaders.rebounds.players[0].personId}}.png">

                <img *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.rebounds.players.length > 1"
                     src="https://neulionms-a.akamaihd.net/nba/player/v1/nba/site_4/images/multipleplayer.png">
              </ion-avatar>
            </ion-col>

            <ion-col col-8 style="text-align: center;">
              <span class="pointers">
                {{juegoDetalle.boxScore.stats.vTeam.leaders.rebounds.value}}
              </span>
            </ion-col>

          </ion-row>

          <ion-row>
              <span *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.rebounds.players.length == 1" class="x-small">
                {{buscarNombreJugador(juegoDetalle.boxScore.stats.vTeam.leaders.rebounds.players[0].personId)}}
              </span>
            <span *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.rebounds.players.length > 1" class="x-small">
                Varios Jugadores
              </span>
          </ion-row>

        </ion-col>

        <ion-col col-6>

          <ion-row>

            <ion-col col-8 style="text-align: center;">
              <span class="pointers">
                {{juegoDetalle.boxScore.stats.hTeam.leaders.rebounds.value}}
              </span>
            </ion-col>

            <ion-col col-4>
              <ion-avatar item-start>
                <img *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.rebounds.players.length == 1"
                     src="https://neulionmdnyc-a.akamaihd.net/nba/media/img/players/head/132x132/{{juegoDetalle.boxScore.stats.hTeam.leaders.rebounds.players[0].personId}}.png">

                <img *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.rebounds.players.length > 1"
                     src="https://neulionms-a.akamaihd.net/nba/player/v1/nba/site_4/images/multipleplayer.png">
              </ion-avatar>
            </ion-col>

          </ion-row>

          <ion-row style="text-align: right;">
              <span *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.rebounds.players.length == 1" class="pointers-player-rigth">
                {{buscarNombreJugador(juegoDetalle.boxScore.stats.hTeam.leaders.rebounds.players[0].personId)}}
              </span>
            <span *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.rebounds.players.length > 1" class="pointers-player-rigth">
                Varios Jugadores
              </span>
          </ion-row>

        </ion-col>

        <div class="detalle-center-top">
          <span class="live">Asist.</span>
        </div>

      </ion-row>
    </div>

    <!-- Asistencia -->
    <div ion-item>
      <ion-row>

        <ion-col col-6 style="border-right: 1px solid lightgray;">

          <ion-row>

            <ion-col col-4>
              <ion-avatar item-start>
                <img *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.assists.players.length == 1"
                     src="https://neulionmdnyc-a.akamaihd.net/nba/media/img/players/head/132x132/{{juegoDetalle.boxScore.stats.vTeam.leaders.assists.players[0].personId}}.png">

                <img *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.assists.players.length > 1"
                     src="https://neulionms-a.akamaihd.net/nba/player/v1/nba/site_4/images/multipleplayer.png">
              </ion-avatar>
            </ion-col>

            <ion-col col-8 style="text-align: center;">
              <span class="pointers">
                {{juegoDetalle.boxScore.stats.vTeam.leaders.assists.value}}
              </span>
            </ion-col>

          </ion-row>

          <ion-row>
              <span *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.assists.players.length == 1" class="x-small">
                {{buscarNombreJugador(juegoDetalle.boxScore.stats.vTeam.leaders.assists.players[0].personId)}}
              </span>
            <span *ngIf="juegoDetalle.boxScore.stats.vTeam.leaders.assists.players.length > 1" class="x-small">
                Varios Jugadores
              </span>
          </ion-row>

        </ion-col>

        <ion-col col-6>

          <ion-row>

            <ion-col col-8 style="text-align: center;">
              <span class="pointers">
                {{juegoDetalle.boxScore.stats.hTeam.leaders.assists.value}}
              </span>
            </ion-col>

            <ion-col col-4>
              <ion-avatar item-start>
                <img *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.assists.players.length == 1"
                     src="https://neulionmdnyc-a.akamaihd.net/nba/media/img/players/head/132x132/{{juegoDetalle.boxScore.stats.hTeam.leaders.assists.players[0].personId}}.png">

                <img *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.assists.players.length > 1"
                     src="https://neulionms-a.akamaihd.net/nba/player/v1/nba/site_4/images/multipleplayer.png">
              </ion-avatar>
            </ion-col>

          </ion-row>

          <ion-row style="text-align: right;">
              <span *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.assists.players.length == 1" class="pointers-player-rigth">
                {{buscarNombreJugador(juegoDetalle.boxScore.stats.hTeam.leaders.assists.players[0].personId)}}
              </span>
            <span *ngIf="juegoDetalle.boxScore.stats.hTeam.leaders.assists.players.length > 1" class="pointers-player-rigth">
                Varios Jugadores
              </span>
          </ion-row>

        </ion-col>

        <div class="detalle-center-top">
          <span class="live">Rebores</span>
        </div>

      </ion-row>
    </div>

  </ion-list>

  <!-- Arbitros -->
  <ion-list *ngIf="juegoDetalle.boxScore.basicGameData.officials.formatted.length > 0">
    <ion-list-header>
      Árbitros
    </ion-list-header>
    <div ion-item *ngFor="let a of juegoDetalle.boxScore.basicGameData.officials.formatted" style="text-align: center;">
      {{a.firstNameLastName}}
    </div>
  </ion-list>

</ion-content>
